/*Universal Styles*/
html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

:root {
    --primary-brand-color: #420F14;
    --secondary-brand-color: #e4e4e4b9;
    --accent-brand-color: #C5545E;
    --primary-black: #0f0f0f;
    --primary-white: #ffffff;
    --primary-padding: 2rem;
    --border-radius: 0.625rem;
}

/* Header + Nav Styles */
.header-container {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#desktop-logo img {
    margin: 1.25rem;
    height: 5rem;
    width: auto;
}

.tablet-nav {
    display: none;
}

.desktop-nav {
    display: inline-flex;
}

.desktop-nav ul {
    display: inline-flex;
    list-style: none;
    font-size: 1.37rem;
}

.desktop-nav li {
    margin: 0 0.938rem;
    padding: 0.313rem;
    border: 1.5px solid black;
    border-radius: 0.938rem;
}

.desktop-nav li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.desktop-nav a {
    text-decoration: none;
    color: var(--primary-black);
    font-weight: 500;
}

/*Main Content Styles*/
.hero {
    display: flex;;
    align-items: center;
    justify-content: center;
    background-image: url('./Resources/front-side-cropped.PNG');
    background-size: cover;
    background-position: center;
    height: 80vh;
    filter: brightness(0.7);
}

.welcome {
    padding: 2rem 0;
    margin: 0;
    font-size: 5rem;
    text-transform: uppercase;
    width: 100%;
    color: var(--primary-white);
    background-color: var(--primary-brand-color);
    opacity: 0.7;
    text-align: center;
}

/*intro*/
.intro-mission {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: var(--primary-padding);
}

.intro-mission h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.newsletter-signup {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: var(--primary-padding);
    background-color: var(--secondary-brand-color);
}

/*Form*/
input[type="email"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: var(--border-radius);
    margin-top: 1rem;
    width: 20rem;
    max-width: 90%;
}

form {
    margin-bottom: 1.17rem;
}

label {
    font-size: 1.25rem;
    font-weight: 500;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-brand-color);
    color: var(--primary-white);
    margin-top: 1rem;
    cursor: pointer;
}

/*Gallery*/
.gallery h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
}

.gallery-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: var(--primary-padding);
}
.gallery img {
    width: 30%;
    height: 50vh;
    border-radius: var(--border-radius);
}

/*Testimonials*/
.testimonials {
    background-color: var(--secondary-brand-color);
    padding: var(--primary-padding);
    text-align: center;
}

.testimonial {
    text-align: center;
    margin-bottom: 1.5rem;
    width: auto;
}

.testimonial p {
    margin: 0.5rem 0;
}

/*Partners & Passions*/
.collaboration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: var(--primary-padding);
    gap: 5rem;
}

.partnerships a {
    text-decoration: none;
}

.partnerships h2, .passions h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.partnerships ul, .passions ul {
    padding: 0;
}

.partnerships li, .passions li {
    margin: 0.5rem 0;
    font-size: 1rem;
    list-style: none;
    text-align: center;
}

/*Events*/
.events {
    padding: var(--primary-padding);
}

.events h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.events h3 {
    margin-bottom: 1rem;
    text-align: center;
}
 
.list-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.events ul {
  
    padding: 0;
    border: 1px solid black;
    border-radius: var(--border-radius);
    background-color: var(--secondary-brand-color);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.events p {
    text-align: center;
    margin-top: 1rem;
}

.events li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1rem;
    list-style: none;
}

/*Footer*/
footer {
    background-color: var(--primary-brand-color);
    color: var(--primary-white);
    text-align: center;
    padding: 1rem;
    font-size: 0.875rem;
}

footer a {
    color: var(--primary-white);
    text-decoration: none;
    font-weight: 500;
}

.footer-nav ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
}

.footer-nav li {
    margin: 0 0.938rem;
}

.social-media img {
    height: 2rem;
    width: auto;
    margin: 0 0.625rem;
}

.social-media {
    margin-top: 0.5rem;
}

.social-media ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media li {
    margin: 0 0.625rem;
}

.social-media li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}


/*Tablet Styles*/
@media only screen and (max-width: 1024px) {
    .welcome {
        font-size: 3rem;
    }

    .desktop-nav {
        display: none;
    }

    .tablet-nav {
        display: inline-flex;
    }

    .tablet-nav ul {
        display: inline-flex;
        list-style: none;
        padding-right: 1.25rem;
    }

    .tablet-nav img {
        height: 2.5rem;
        width: auto;
        margin: 0 0.625rem;
    }

    .gallery img {
        width: 45%;
        height: 30vh;
    }
}

/*Mobile Styles*/
/*Hide .mobile-nav when over 777px*/
@media only screen and (min-width: 777px) {
    .mobile-nav {
        display: none;
    } 
}

/*Hide all navs except .mobile-nav when under 776px*/
@media only screen and (max-width: 776px) {
    .tablet-nav, .desktop-nav, #desktop-logo {
        display: none;
    }

    .mobile-nav {
        overflow: hidden;
        z-index: 5;
        background-color: var(--primary-white);
        position: static;
        width: 100%;
    }

    .mobile-nav img {
        width: 50%;
    }

    .mobile-nav #nav-links {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.4s ease, opacity 0.4s ease;
    }

    .mobile-nav #nav-links.show {
        max-height: 600px; /* adjust as needed */
        opacity: 1;
    }

    .mobile-nav a {
        color: var(--primary-black);
        padding: 0.875rem 1rem;
        text-decoration: none;
        font-size: 1.063rem;
        display: block;
    }

    .mobile-nav a.icon {
        background: var(--primary-white);
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .mobile-nav a:hover {
        background-color: #ddd;
        color: var(--primary-black);
    }
  
    .active {
        background-color: var(--primary-white);
        color: var(--primary-black);
    }

    a.icon {
        margin: 0.3rem;
    }
}

/*Stack Partnerships & Passions under 500px*/
@media only screen and (max-width: 500px) {
    .collaboration {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .gallery img {
        width: 90%;
        height: auto;
    }
}

/*Adjust hamburger margin for very small screens*/
@media only screen and (max-width: 376px) {
    a.icon {
        margin: 0;
    }
}
